---
title: "Landing Fitness"
layout: base.njk
---

<link rel="shortcut icon" href="/assets/favicon.webp" type="image/x-icon" />

<video
  src="/assets/bg.mp4"
  poster="/assets/poster-background.avif"
  loop
  autoplay
  muted
  class="background"
></video>

<header class="am-header">
  <h2><span>FIT</span>NESS</h2>
  <img src="/assets/toggle.webp" alt="toggle bar" />
</header>

<main class="am-main">
  <section class="main-left">
    <h1>MORE THAN FITNESS</h1>
    <p>
      John Cena's fitness routine is built on strength, endurance, and
      discipline. He follows intense weight training and a high-protein diet to
      maintain peak performance. His workouts focus on powerlifting, functional
      strength, and cardiovascular health. Through consistency and hard work, he
      remains a symbol of peak physical fitness.
    </p>
    <button class="button">Read More</button>
  </section>
  <section class="main-right">
    <img src="/assets/john.webp" alt="john cena" />
  </section>
</main>

<aside class="slash-green"></aside>
